* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Relawey', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

main {
    padding: 80px;
}

header {
    background-color: #cfa219;
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.ajuste {
    text-align: center;
}



header img {
    width: 15vw;
}

.link-color {
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.link-color:hover {
    color: black;
}

.ajuste2 {
    padding: 5px;
}

.coloracordeon1 .coloracordeonboton {
    background-color: #001f3f;
    border-color: #001f3f;
    color: white;

}