* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #e1e1e1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-variation-settings: "with" 100;

}

main {
    padding: 80px;
}

header {
    background-color: #001f3f;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 1rem;
}

.titulos {
    font-family: 'Sora';
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

/*solo titulos principales*/

.titulos2 {
    font-weight: 600;
    font-style: normal;
}

.ajuste {
    text-align: center;
}

/*centra-el-texto*/



header img {
    width: 15vw;
}

.link-color {
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.link-color:hover {
    color: black;
}

/*ajusta espacio entre inconos git*/
.ajuste2 {
    padding: 5px;
}

/*tarjetas*/
.bordetarjeta {
    border-color: black;

}

.bordetarjeta .list-group-item {
    border-color: black;
}

/*ajusta las listas*/
.ajuste3 {
    text-align: left;


}

/*finajustetarjeta*/

/*creación de padding titulos h2*/
.ajuste4 {
    text-align: center;
    padding: 30px;
}

footer {
    background-color: grey;
    padding: 2%;
    text-align: center;
    font-family: "relawey";
    font-style: italic;
    font-size: x-large;
    background-color: #001f3f;
    color: white;


}